00_workspaces_backup/
00_planning/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage
.tox/
.env/
.venv/
env/
venv/
pip-wheel-metadata/
pip-log.txt
site/


